body {
    background-image: url('https://wallpapers.com/images/high/food-4k-1vrcb0mw76zcg4qf.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }
  